*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;     
        scroll-behavior: smooth;
}
body { background-image: url('CAFE.JPG');
        background-size:cover ;
    background-attachment: fixed; /*L'image reste fixe pendant le scroll*/
   background-position: center; 

    }
a {
    color: hwb(30 96% 1%); /* Remplacez par le nom, le code Hex ou RGB souhaité */
    text-decoration: none; /* Optionnel : supprime le soulignement */
     font-size: 25px;         /* Taille de la police (ex: 20px, 1.2em, ou 120%) */
    font-weight: bold;       /* Met le texte en gras */
}
h1 {
    color: rgb(250, 246, 246);            /* Change la couleur du texte */
    text-align:center;
    margin-top: 50px;
    size: 40px;
}
H2 {color: rgb(250, 246, 246);   }
H3{color: rgb(250, 246, 246);   }

container {
    display: grid;
    grid-template-columns: 250px 1fr; /* Sidebar de 250px et le reste pour le contenu */
    grid-template-rows: auto 1fr auto; /* Lignes pour header, main, footer */
    height: 100vh;
    gap: 10px; /* Espace entre les partitions */
}

/*header { grid-column: 1 / 3; } /* L'en-tête prend toute la largeur */
footer { grid-column: 1 / 3; }
header { display: flex;
justify-content:space-between;
align-items: center;
margin: 0 auto;
padding: 0 rem;
max-width: 1000px;
text-decoration: none;
color: aliceblue;
}
a:hover{
        color:brown;
}
/*body{opacity: 70%;}
/*hr{opacity: 30%;}*/
p{color: aliceblue;}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Occupe toute la hauteur de l'écran */
}
.PC{display: flex;
        height: 1200px;
         flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-evenly;
}

        p3 {
            color: rgb(234, 234, 240);            /* Couleur du texte */
            font-size: 18px;        /* Taille de la police */
            font-family: Arial;     /* Type de police */
            line-height: 1.5;       /* Espacement entre les lignes */
            text-align: justify;    /* Alignement du texte */
        }
           